@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;

}
body{
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;

}
header{
    position: static;
    margin-top: 5px;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    padding: 30px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    
    margin-left: 15px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
div.container
{
    font-family: Outfit;
	text-align: center;
}
#pfp{
    padding-left: 10px;
    margin-left: 0;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Outfit;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.pullDown a#pfp:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: transparent;
    opacity: 0.3;
    transition: all 0.3s;
}
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}
div.pullDown a#host:before{
    background-color: #B2F042;
}
div.pullDown a#book:before{
    background-color: #D85230;
}
div.pullDown a#watch:before{
    background-color: #B286FD;
}
div.pullDown a#home:before{
    background-color: #48AAAD;
}


div.pullDown a:hover:before
{
    height: 100%;
}
/*-----------------------------------------------slider------------------------------------*/
.swiper{
    margin-top: 5%;
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}
#h3{
    margin-top: 50px;
    margin-left: 130px;
    color: #FFF;
}

.options{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.box{
    height: 200px;
    width: 250px;
    background-image: url('bg.png');
    border-radius: 16px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hosti{
    color: #B2F042;
}
.box p{
    color: white;
    font-size: 12px;
}
.box img{
    margin-top: 10px;
    height: 100px;
    width: 115px;
}
#booki{
    color: #D85230;
}

#watchi{
    color: #B286FD;
}
#hostt{
    color: #B2F042;
    margin-left: 50px;
}
.belowheader{
    color: white;
}
input[type=text], input[type=number] {
   
    font-size: 17px;
    width: 240px;
    height: 30px;
    padding: 10px;
    background-color: #1C1C1E;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-family: Outfit;
}
.upbar input:focus{
    outline-color: #B2F042;
}
.pdt p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 50px;
}
.pdt{
    margin: 50px;
}
.player p{
    margin-bottom: 10px;
    margin-left: 107px;
    margin-top: 100px;
    color: #ffffff;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 22px;
}


.details{
    display: flex;
    flex-direction: row;
}
.bigbat{
    margin-left: 50px;
}

.player input[type=number] {
   
    font-size: 17px;
    width: 240px;
    height: 50px;
    padding: 10px;
    margin-left: 107px;
    background-color: #1C1C1E;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-family: Outfit;

}
