@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

#bookipl{
    position: absolute;
width: 487px;
height: 42px;
left: 104px;
margin-top: 36px;

font-family: 'Outfit';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 55%

letter-spacing: -0.408px;

color: #D85230;

}

body{
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;

}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;

}

.header{
    position: absolute;
    margin-top: 5px;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    padding: 30px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header ul li{
    list-style: none;
    
    margin-left: 15px;
}
.header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
.header ul li a img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
div.container
{
    font-family: Outfit;
	text-align: center;
}
#pfp{
    padding-left: 10px;
    margin-left: 0;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Outfit;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.pullDown a#pfp:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: transparent;
    opacity: 0.3;
    transition: all 0.3s;
}
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}
div.pullDown a#host:before{
    background-color: #B2F042;
}
div.pullDown a#book:before{
    background-color: #D85230;
}
div.pullDown a#watch:before{
    background-color: #B286FD;
}
div.pullDown a#home:before{
    background-color: #48AAAD;
}


div.pullDown a:hover:before
{
    height: 100%;
}


.seats{
    position: absolute;
width: 270px;
height: 32px;
left: 104px;
top: 182px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 22px;
/* or 81% */

letter-spacing: -0.408px;

color: #FFFFFF;
}

.seatplan{
    position: absolute;
width: 577.18px;
height: 581px;
left: 112px;
top: 234px;

}

.rect1{
    position: absolute;
width: 453px;
height: 44px;
left: 117px;
top: 860px;

background: #1C1C1E;
border-radius: 107px;

}

.paise{
    position: absolute;
width: 25px;
height: 22px;
left: 519px;
top: 871px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 22px;
/* identical to box height, or 81% */

letter-spacing: -0.408px;

color: #FF453A
}
.complimentary{
    position: absolute;
width: 305px;
height: 22px;
left: 141px;
top: 871px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 22px;
/* identical to box height, or 81% */

letter-spacing: -0.408px;

color: #FFFFFF;
}

.rect2{
    width: 453px;
height: 44px;
left: 117px;
top: 918px;
}

.paise2{
    width: 25px;
height: 22px;
left: 519px;
top: 929px;
padding-bottom: 162px;
}

.complimentary2{
    width: 325px;
height: 22px;
left: 141px;
top: 929px;

}
.invoice{
position: absolute;
width: 87px;
height: 34px;
left: 1091px;
top: 197px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 34px;
/* identical to box height */

letter-spacing: -0.24px;

color: #FFFFFF;
}


.subject{


position: absolute;
width: 64px;
height: 20px;
left: 1092px;
top: 261px;

font-family: "Outfit";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;

color: #D85230;

}

.iplticktsubj{

position: absolute;
width: 105px;
height: 24px;
left: 1161px;
top: 259px;

font-family: "Outfit";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;
}

 
/* Group 126 */


/* position: absolute;
width: 479.97px;
height: 108.85px;
left: 1292.13px; */
/* top: 433.15px;
 */ 


.poporn{


position: absolute;
width: 59px;
height: 19px;
left: 1092px;
top: 386px;

font-family: "Outfit";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;
}


.qty1{

    position: absolute;
    width: 20px;
    height: 19px;
    left: 1334px;
    top: 354px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;

}

.qty2{


    position: absolute;
    width: 20px;
    height: 19px;
    left: 1334px;
    top: 386px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}


.cost1{
    position: absolute;
    width: 65px;
    height: 19px;
    left: 1389px;
    top: 354px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;
}


    
.cost2{

    position: absolute;
    width: 44px;
    height: 19px;
    left: 1410px;
    top: 386px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;
}


.totalc{


    position: absolute;
    width: 77px;
    height: 19px;
    left: 1495px;
    top: 354px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;

}

.totalc2{


    position: absolute;
    width: 46px;
    height: 19px;
    left: 1526px;
    top: 386px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;

}

.itemdesc{

position: absolute;
width: 151px;
height: 19px;
left: 1092px;
top: 309px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #D85230;
}



.quantitty{

position: absolute;
width: 34px;
height: 19px;
left: 1317px;
top: 309px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #D85230;

}

.rate{

position: absolute;
width: 98px;
height: 19px;
left: 1356px;
top: 309px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #D85230;
}


.amt{


position: absolute;
width: 98px;
height: 19px;
left: 1474px;
top: 309px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #D85230;

}

.ipltickt{
    position: absolute;
    width: 77px;
    height: 18px;
    left: 1091px;
    top: 354px;
    
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #FFFFFF;
    
    }

.recthr{
position: absolute;
width: 480px;
height: 4px;
left: 1092px;
top: 417px;
border:0;
background: #6F6F84;}
.subtotc{
position: absolute;
width: 78.97px;
height: 19.21px;
left: 1493.13px;
top: 433.15px;

font-family: "Outfit";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: right;

color: #FFFFFF;

}

.subtotc2{


position: absolute;
width: 54.29px;
height: 19.21px;
left: 1517.81px;
top: 465.17px;

font-family: "Outfit";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: right;

color: #FFFFFF;

}

.subtot{


position: absolute;
width: 72.8px;
height: 19.21px;
left: 1083px;
top: 433.15px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.05em;

color: #D85230;
}


.gts{
position: absolute;
width: 76.5px;
height: 19.21px;
left: 1092.13px;
top: 465.17px;

font-family: "Outfit";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;

color: #D85230;}

.totalinrc{
    position: absolute;
width: 251px;
height: 31px;
left: 1321px;
top: 511px;

font-family: "Outfit";
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: right;

color: #D85230;

}
.totalinr{
position: absolute;
width: 90.07px;
height: 19.21px;
left: 1092.13px;
top: 517.67px;

font-family: "Outfit";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;

color: #FFFFFF;

}

.bracka{
    color:#6F6F84

}

.pmtmth{
position: absolute;
width: 225px;
height: 34px;
left: 1091px;
top: 593px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 34px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}


.rect1pmt{


position: absolute;
width: 357px;
height: 44px;
left: 1091px;
top: 636px;

background: #1C1C1E;
border-radius: 107px;
}

.pytm{


position: absolute;
width: 57px;
height: 22px;
left: 1116px;
top: 647px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */

letter-spacing: -0.408px;

color: #FFFFFF;

}

.rect2pmt{


position: absolute;
width: 357px;
height: 44px;
left: 1091px;
top: 752px;

background: #1C1C1E;
border-radius: 107px;

}

.rect3pmt{

position: absolute;
width: 357px;
height: 44px;
left: 1091px;
top: 694px;

background: #1C1C1E;
border-radius: 107px;

}
.upi{


position: absolute;
width: 31px;
height: 22px;
left: 1116px;
top: 703px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */

letter-spacing: -0.408px;

color: #FFFFFF;
}


.ccbc{


position: absolute;
width: 156px;
height: 22px;
left: 1116px;
top: 763px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */

letter-spacing: -0.408px;

color: #FFFFFF;

}

.arr1{


position: absolute;
width: 15.5px;
height: 7px;
left: 1411px;
top: 648px;

color:white
}

/* Vector 24 */

.arr2{
position: absolute;
width: 15.5px;
height: 7px;
left: 1411px;
top: 764px;

color:white
}

.arr3{

position: absolute;
width: 15.5px;
height: 7px;
left: 1411px;
top: 706px;

color:white}

.rectprint{
    position: absolute;
width: 363px;
height: 67px;
left: 1092px;
top: 871px;

background: #D85230;
border-radius: 107px;
}

.printtckt{
    position: absolute;
width: 106px;
height: 22px;
left: 1116px;
top: 893px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */

letter-spacing: -0.408px;

color: #FFFFFF;

}

.arr4{
    
position: absolute;
width: 15.5px;
height: 7px;
left: 1411px;
top: 894px;
color:white
}